nav{
    background-color: white;
}

#nav-header-box{
    background-color: #4AAAA5;
    padding: 5px;
    border-radius: 5px;
}

#nav-header-box h2{
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

h1{
    color: #4AAAA5;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.d-flex a{
    color: black;
    margin-left: 5px;
}

.spacer{
    height: 100px;
}

#backdrop{
    background-image: url(pexels-karolina-grabowska-4046757.jpg);
}

.mainbox{
    background-color: white;
    border-radius: 5px;
}

img{
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.porfolio-img{
    margin-bottom: 50px;
}

p{
    margin-bottom: 30px;
}

#contact-enter-btn{
    margin-bottom: 20px;
    border-width: 0px;
    font-size: 1rem;
    background-color: #4aaaa5;
    color: white;
    padding: 20px 40px 20px 40px;
}

/* #contact-enter-btn:hover{
    border-style: solid;
    border-color: #899092;
} */

/* #contact-enter-btn:active{
    background-color: yellowgreen;
} */

footer{
    background-color: #666666;
    height: 60px;
    border-top-style: solid;
    border-top-color: #4AAAA5;
    border-top-width: 10px;
    position: sticky;
    bottom: 0;
    color: #6C747C;
    text-align: center;
}