nav{
    background-color: white;
}

#nav-header-box{
    background-color: #4A452F;
    padding: 5px;
    border-radius: 5px;
}

#nav-header-box h2{
    color: white;
    text-shadow: 2px -1px #0C0E01;
    font-family: 'Times New Roman', Times, serif;

}

h1{
    color: #0C0E01;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.d-flex a{
    color: black;
    margin-left: 5px;
}

.spacer{
    height: 100px;
}

#backdrop{
    background-image: url(pexels-photo-5294039.jpeg);
}

.mainbox{
    background-color: white;
    border-radius: 5px;
}

img{
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.porfolio-img{
    margin-bottom: 50px;
}

p{
    margin-bottom: 30px;
}

#contact-enter-btn{
    margin-bottom: 20px;
    background-color: #55595A;
    color: white;
}

#contact-enter-btn:hover{
    border-style: solid;
    border-color: #899092;
}

#contact-enter-btn:active{
    background-color: yellowgreen;
}

footer{
    background-color: #4A452F;
    height: 60px;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 10px;
    position: sticky;
    bottom: 0;
    text-align: center;
}